<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.erp.modules.workflow.mapper.WfSafetyDetailMapper">
    <select id="selectByRecordId" resultType="com.industrial.erp.modules.workflow.entity.WfSafetyDetail">
        SELECT * FROM wf_safety_detail WHERE record_id = #{recordId} AND deleted = 0 ORDER BY id
    </select>
</mapper>
