<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.erp.modules.inventory.mapper.InvTransferDetailMapper">
    <select id="selectByTransferId" resultType="com.industrial.erp.modules.inventory.entity.InvTransferDetail">
        SELECT * FROM inv_transfer_detail WHERE transfer_id = #{id} AND deleted = 0
    </select>
</mapper>
